<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=client_title%>
    </title>
    <% include head.html %>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/inc/weui.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="Chat">
    <% if(!err){ %>
        <audio id="newMessage" src="<%=GLOBAL_SOCKET_URL%>/inc/newMessage.mp3"></audio>
        <div class="stoped_wrapper">
            <ul class="list">
                <% include  comm_talk_list_template.html %>
            </ul>
            <div class="fixed_space"></div>
        </div>
        <div class="footer_button">
            <form>
                <span class="back"></span>
                <span class="mute"></span>
                <div class="message_content_box">
                    <div class="message_content_div"></div>
                    <input type="text" class="message_content_input">
                </div>
                <input type="submit" value="发送" class="weui-btn weui-btn_mini weui-btn_primary">
                <span class="more"></span>
                <span class="emotion"></span>
            </form>
            <% include comm_emotion.html %>
        </div>
        <% } %>
            <% include ../weui.html %>
                <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
                <script>
                wx.config({
                    debug: false,
                    appId: '',
                    timestamp: 1,
                    nonceStr: '',
                    signature: '',
                    jsApiList: []
                });

                wx.ready(function() {
                    var audio_newMessage = document.getElementById("newMessage");
                    audio_newMessage.muted = true;
                    audio_newMessage.play();
                });
                </script>
                <script>
                var Base_meta = {
                    "err": "<%=err%>",
                    "kind": "<%=kind%>",
                    "cid": "<%=cid%>",
                    "sid": "<%=sid%>",
                    "cname": "<%=cname%>",
                    "sname": "<%=sname%>",
                    "client_headimg": "<%=client_headimg%>",
                    "servicer_headimg": "<%=servicer_headimg%>",
                    "GLOBAL_SOCKET_URL": "<%=GLOBAL_SOCKET_URL%>",
                    "welcome_message": "<%-welcome_message%>"
                };
                </script>
                <script data-main="/widget/main_mobile.js" src="/inc/require.js" id="script_page" page="chat"></script>
</body>

</html>