<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=client_title%>
    </title>
    <% include head.html %>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/inc/weui.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="chat_list">
    <% if(!err){ %>
        <audio id="newMessage" src="<%=GLOBAL_SOCKET_URL%>/inc/newMessage.mp3"></audio>
        <div class="stoped_wrapper">
            <% include comm_chat_list_template.html %>
                <div class="fixed_space"></div>
        </div>
        <div class="footer_button">
            <div class="back"></div>
            <div class="mute"></div>
            <input type="button" value="咨询其他服务" class="weui-btn weui-btn_mini weui-btn_primary">
        </div>
        <% } %>
            <% include ../weui.html %>
                <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
                <script>
                var Base_meta = {
                    "from": "<%=query.from%>",
                    <% // 淘换堂 %>
                    "err": "<%=err%>",
                    "cid": "<%=cid%>",
                    "GLOBAL_SOCKET_URL": "<%=GLOBAL_SOCKET_URL%>"
                };

                wx.config({
                    debug: false,
                    appId: '',
                    timestamp: 1,
                    nonceStr: '',
                    signature: '',
                    jsApiList: []
                });

                wx.ready(function() {
                    var audio_newMessage = document.getElementById("newMessage");
                    audio_newMessage.muted = true;
                    audio_newMessage.play();
                });

                var returnToApp = function() {
                    var dom_script = document.createElement('script');
                    dom_script.innerHTML = "(function(){ window.server.closeServer(); })();";
                    document.body.appendChild(dom_script);
                };
                </script>
                <script data-main="/widget/main_mobile.js" src="/inc/require.js" id="script_page" page="chat_list"></script>
</body>

</html>