<ul class="form_sort_ul">
    <% if(sort.length){ %>
        <% var s_old=0; %>
            <% sort.forEach(function(s,index){ %>
                <% if(s_old!==s.Of_Scid){ %>
                    <li class="sort_a">
                        <%=s.Of_Ctitle%>
                    </li>
                    <% } %>
                        <% s_old=s.Of_Scid; %>
                            <% // 不可选状态 的 样式 为 isChecked %>
                                <li class="sort_b" Scid="<%=s.Scid%>">
                                    <%=s.Ctitle%>
                                </li>
                                <% }); %>
                                    <% } %>
</ul>