<ul class="form_sort_ul">
    <% if(sort.length){ %>
        <% var stem_from=0; %>
            <% sort.forEach(function(s,index){ %>
                <% if(stem_from!==s.Stem_from){ %>
                    <li class="sort_a">
                        <%=s.Stem_from===1?"微信端":"APP端"%>
                    </li>
                    <% } %>
                        <% stem_from=s.Stem_from; %>
                            <% // 不可选状态 的 样式 为 isChecked %>
                                <li class="sort_b" Scid="<%=s.Cid%>">
                                    <%=s.Ctitle%>
                                </li>
                                <% }); %>
                                    <% } %>
</ul>