<%
    /*
        需要对象emotion = {
            device: "mobile" | "pc",
            list:[{
                imgPath: 图片路径,
                name: 显示在文本框中的关键词，如[微笑]
            }]
        }
    */
%>
    <div class="emotion_box <%=emotion.device%>">
        <ul class="emotion_panel">
            <%if(emotion.list&&emotion.list.length){ %>
                <% var ps=emotion.device=="mobile"?26:72,j=0; %>
                    <li class="screen_li">
                        <ul>
                            <% emotion.list.forEach(function(emot,index){ j++; %>
                                <li style="background-image: url('<%-emot.imgPath%>');" name="<%-emot.name%>"></li>
                                <% if(
                                (index+1)%ps==0&&
                                emotion.device=="mobile"
                            ){ %>
                                    <li class="del"></li>
                                    <% } %>
                                        <% if(
                                    (index+1)%ps===0&&
                                    index<emotion.list.length-1
                                ){ j=0;%>
                        </ul>
                    </li>
                    <li class="screen_li">
                        <ul>
                            <% } %>
                                <% }); %>
                                    <% // 补齐 %>
                                        <% var i=0,len=ps-j; %>
                                            <% for(;i<len;i++){ %>
                                                <li class="space"></li>
                                                <% } %>
                                                    <% if(emotion.device=="mobile"){ %>
                                                        <li class="del"></li>
                                                        <% } %>
                        </ul>
                    </li>
                    <% } %>
        </ul>
        <ul class="point_ul"></ul>
    </div>
    <script>
    var comm_emotion = {
        emotion_name_list: [<%-emotion_name_list%>]
    };
    </script>