<ul class="comm_chat_list_template">
    <% if(comm_chat_list_template.length){ %>
        <% comm_chat_list_template.forEach(function(chat,index){ %>
            <% if(comm_chat_list_template_source=="servicer"){ %>
                <li class="chat_line<% if(chat.has_noRead_record_servicer){ %> new<% } %>" cid="<%=chat.cid%>">
                    <% // class可选：now-当前对话；new-有新消息 %>
                        <img src="<%=chat.client.headimg%>" />
                        <div class="new_flag"></div>
                        <div class="span_group">
                            <span class="nickname"><%=chat.client.nickname%></span>
                            <span class="last_time"><%=formatTimeStamp(chat.last_rdate)%></span>
                            <span class="last_content"><%-chat.last_content%></span>
                        </div>
                </li>
                <% } else if(comm_chat_list_template_source=="chat_list"){ %>
                    <li class="chat_line sid_<%=chat.sid%> li_touchstart<% if(chat.has_noRead_record_client){ %> new<% } %>" sort="<%=chat.sort%>" sid="<%=chat.sid%>" target="_self" url="chat?cid=<%=chat.cid%>&bid=-1&sort=<%=chat.sort_first%>">
                        <% // class可选：new-有新消息 %>
                            <img src="<%=chat.servicer.headimg%>" />
                            <div class="new_flag"></div>
                            <div class="span_group">
                                <span class="nickname"><%=chat.servicer.nickname%></span>
                                <span class="last_time"><%=formatTimeStamp(chat.last_rdate)%></span>
                                <span class="sort"><%=chat.sort_str%></span>
                                <span class="last_content"><%-chat.last_content%></span>
                            </div>
                    </li>
                    <% } %>
                        <% }); %>
                            <% } %>
                                <li class="chat_line template">
                                    <img src="<% //头像路径 %>" />
                                    <div class="new_flag"></div>
                                    <div class="span_group">
                                        <span class="nickname">昵称</span>
                                        <span class="last_time"><%=formatTimeStamp("最后消息的时间戳")%></span>
                                        <span class="last_content">消息记录</span>
                                    </div>
                                </li>
</ul>