<div class="mp_setInit_form">
    <form onsubmit="return false;">
        <ul class="form_line_ul">
            <li>
                <span>账&nbsp;&nbsp;号：</span>
                <div class="input_box">
                    <input type="text" class="mp_user" value="<%-init.mp_user%>">
                </div>
            </li>
            <li>
                <span>密&nbsp;&nbsp;码：</span>
                <div class="input_box">
                    <input type="password" class="mp_passwd" placeholder="空为不修改">
                </div>
            </li>
            <li>
                <span>高亮消息正则：</span>
                <div class="textarea">
                	<textarea class="highlights_regExp"><%-init.highlights_regExp.join('\n')%></textarea>
                </div>
            </li>
        </ul>
    </form>
</div>