<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=client_title%></title>
    <% include head.html %>
        <link href="http://xcchat.topu.net/static/css/style_4a8912a.css" rel="stylesheet" type="text/css" />
        <link href="http://xcchat.topu.net/inc/weui.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="Chat">
    <% if(!err){ %>
        <div class="stoped_wrapper">
            <ul class="list">
                <% include  comm_talk_list_template.html %>
            </ul>
            <div class="fixed_space"></div>
        </div>
        <div class="footer_button">
            <form>
                <input type="text" class="message_content">
                <input type="submit" value="发送" class="weui-btn weui-btn_mini weui-btn_primary">
            </form>
        </div>
        <% } %>
            <% include ../weui.html %>
                <script>
                var Base_meta = {
                    "err": "<%=err%>",
                    "kind": "<%=kind%>",
                    "cid": "<%=cid%>",
                    "sid": "<%=sid%>",
                    "cname": "<%=cname%>",
                    "sname": "<%=sname%>",
                    "client_headimg": "<%=client_headimg%>",
                    "servicer_headimg": "<%=servicer_headimg%>",
                    "GLOBAL_SOCKET_URL": "<%=GLOBAL_SOCKET_URL%>",
                    "welcome_message": "<%-welcome_message%>"
                };
                </script>
                <script data-main="http://xcchat.topu.net/static/widget/aio_257cfb3.js" src="http://xcchat.topu.net/inc/require.js" id="script_page" page="chat"></script>
</body>

</html>
