<!DOCTYPE html>
<html lang="en">

<head>
    <title>客服系统管理入口</title>
    <% include head.html %>
        <link href="http://xcchat.topu.net/static/css/style_4a8912a.css" rel="stylesheet" type="text/css" />
        <link href="http://xcchat.topu.net/inc/weui.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="chat_mp_login">
    <div class="login_wrapper">
        <div class="logo_icon">
        </div>
        <div class="form">
            <form>
                <ul>
                    <li>
                        <span>用户名：</span>
                        <input type="text" class="username" />
                    </li>
                    <li>
                        <span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
                        <input type="password" class="passwd" />
                    </li>
                </ul>
                <input type="submit" class="button weui-btn weui-btn_primary" value="登 录">
            </form>
        </div>
    </div>
    <% include ../weui.html %>
        <script type="text/javascript">
        var Base_meta = {
            from: "<%=from%>"
        };
        </script>
        <script data-main="http://xcchat.topu.net/static/widget/aio_257cfb3.js" src="http://xcchat.topu.net/inc/require.js" id="script_page" page="chat_mp_login"></script>
</body>

</html>
