<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=servicer_pc_title%></title>
    <% include head.html %>
        <link href="http://xcchat.topu.net/static/css/style_4a8912a.css" rel="stylesheet" type="text/css" />
        <link href="http://xcchat.topu.net/inc/weui.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="chat_servicer">
    <div class="wrapper">
        <div class="wrapper_cell wrapper_left">
            <div class="cell_title">会话</div>
            <ul class="chat_list">
                <% if(chats.length){ %>
                    <% chats.forEach(function(chat,index){ %>
                        <li class="chat_line" cid="<%=chat.cid%>">
                            <% // class可选：now-当前对话；new-有新消息 %>
                                <img src="<%=chat.client.headimg%>" />
                                <div class="new_flag"></div>
                                <div class="span_group">
                                    <span class="nickname"><%=chat.client.nickname%></span>
                                    <span class="last_time"><%=formatTimeStamp(chat.last_time)%></span>
                                    <span class="last_content"><%-chat.last_content%></span>
                                </div>
                        </li>
                        <% }); %>
                            <% } %>
                                <li class="chat_line template">
                                    <img src="<% //头像路径 %>" />
                                    <div class="new_flag"></div>
                                    <div class="span_group">
                                        <span class="nickname">昵称</span>
                                        <span class="last_time"><%=formatTimeStamp("最后消息的时间戳")%></span>
                                        <span class="last_content">消息记录</span>
                                    </div>
                                </li>
            </ul>
        </div>
        <div class="wrapper_cell wrapper_right">
            <div class="cell_title">
                <span class="nickname"></span>
                <span class="quit">退出</span>
            </div>
            <p class="loading">加载中，请稍候...</p>
            <ul class="talk_list">
                <% include  comm_talk_list_template.html %>
            </ul>
            <div class="fixed_space"></div>
            <div class="content_fixed hidden">
                <div class="tool_icon sendKey" kind="1">Enter发送</div>
                <textarea></textarea>
            </div>
        </div>
        <% include ../weui.html %>
            <script type="text/javascript">
            var Base_meta = {
                sid: "<%=servicer._id.toString()%>",
                headimg: "<%=servicer.headimg%>",
                GLOBAL_SOCKET_URL: "<%=GLOBAL_SOCKET_URL%>"
            };
            </script>
            <script data-main="http://xcchat.topu.net/static/widget/aio_257cfb3.js" src="http://xcchat.topu.net/inc/require.js" id="script_page" page="chat_servicer"></script>
</body>

</html>
