<!DOCTYPE html>
<html lang="en">

<head>
    <title>客服管理系统</title>
    <% include head.html %>
        <link href="http://chat.taohuantang.com.cn/static/css/style_b38f3c5.css" rel="stylesheet" type="text/css" />
        <link href="http://chat.taohuantang.com.cn/inc/weui.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="chat_mp_index">
    <div class="wrapper min-content">
        <div class="wrapper_cell wrapper_left">
            <ul class="buttons">
                <li class="show_record weui-btn weui-btn_plain-default">全部消息</li>
                <li class="show_risk_record weui-btn weui-btn_plain-default">问题消息</li>
                <li class="add_servicer weui-btn weui-btn_plain-default">添加客服</li>
                <li class="set_init weui-btn weui-btn_plain-default">设置</li>
                <li class="quit weui-btn weui-btn_plain-default">退出</li>
            </ul>
            <ul class="servicer_list_ul">
                <li class="line_li template" _id="">
                    <ul class="line_item_ul">
                        <li>
                            <img src="" />
                            <p></p>
                        </li>
                        <li class="receiveNew_li button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">接收新会话</span><span class="bubble"></span></li>
                        <li class="button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">修改</span></li>
                        <li class="button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">删除</span></li>
                        <li class="button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">查看消息</span></li>
                    </ul>
                </li>
                <% if(servicers.length){ %>
                    <% servicers.forEach(function(s,index){ %>
                        <li class="line_li" _id="<%=s._id%>">
                            <ul class="line_item_ul">
                                <li>
                                    <img src="<%=s.headimg%>" />
                                    <p>
                                        <%-s.nickname%>
                                    </p>
                                </li>
                                <li class="receiveNew_li button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">接收新会话</span><span class="bubble<% if(!s.alive){ %> no<% } %>"></span></li>
                                <li class="button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">修改</span></li>
                                <li class="button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">删除</span></li>
                                <li class="button_inline"><span class="weui-btn weui-btn_mini weui-btn_default">查看消息</span></li>
                            </ul>
                        </li>
                        <% }); %>
                            <% } %>
            </ul>
        </div>
        <div class="wrapper_cell wrapper_right">
            <p class="loading">加载中，请稍候...</p>
            <ul class="talk_list">
                <% include  comm_talk_list_template.html %>
            </ul>
        </div>
    </div>
    <% include ../weui.html %>
        <script data-main="http://chat.taohuantang.com.cn/static/widget/aio_3cd12ae.js" src="http://chat.taohuantang.com.cn/inc/require.js" id="script_page" page="chat_mp_index"></script>
        <script>
        var comm_emotion = {
            emotion_name_list : [<%-emotion_name_list%>]
        };
        </script>
</body>

</html>